/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS general */
html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
body {
    background-color: #bcb;
    max-width: 1200px;
    min-height: 100vh;
}
main {
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}
header li,
form li {
    list-style: none;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    height: 4.5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin-left: 3rem;
}
header nav ul {
    margin-right: 3rem;
    display: flex;
    gap: 20px;
}
header nav ul li a {
    padding: .5rem 1rem;
}
header nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Index */
#inicio {
    background-image: url("/imagenes/image.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
#bg-inicio {
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    color: #fff;
    margin: auto;
    padding: 2rem;
    background-color: rgba(0,0,0,0.8);
}
#intro {
    font-style: italic;
    font-size: 1.2rem;
}

.cabecera-gris {
    color: grey;
}

#profile-image {
    width: 200px;
    border: 4px solid lightgray;
    border-radius: 50%;
}
/* About */
.listas {
    margin: 1.5rem 0;
    padding: 1rem;
    min-width: 60%;
}
.listas li {
    margin-left: 3rem;
}
iframe {
    border: 2px solid black;
    border-radius: 10px;
}
  
/* Contact */
address {
    margin: 1rem;
}
fieldset {
    margin-bottom: 1.5rem;
    padding: 1rem;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons li {
    width: 49%;
}
.buttons button {
    border: none;
    width: 100%;
    padding: .7rem;
    color: #fff;
    background-color: #666;
    font-size: 1rem;
    border-radius: 5px;
}
.buttons button:hover {
    background-color: #555;
    cursor: pointer;
}
input,
textarea {
    padding: .2rem .5rem;
    margin-bottom: .7rem;
    display: block;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
}
.one-line {
    display: flex;
    align-items: baseline;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
